main {
	background-color: hsl(60, 10%, 95%);
	color: hsl(190, 70%, 30%);
	padding: 16px;
}
h3 {
	width: 80%;
	margin: 20px auto;
	font-size: 28px;
}
.msg {
	width: 80%;
	margin: 20px auto;
	padding: 8px;
	font-size: 20px;
}
.info {
	border: 1px solid hsl(80, 50%, 50%);
	color: hsl(80, 50%, 50%);
}
.err {
	border: 1px solid hsl(0, 50%, 50%);
	color: hsl(0, 50%, 50%);
}
#productAdd {
	margin: 20px auto;
	width: 80%;
}
p {
	margin: 8px;
	font-size: 18px;
}
input {
	padding: 4px;
}
select {
	padding: 4px;
	font-size: 16px;
}
#previewImg {
	display: block;
	width: 200px;
}
.formBtn {
	margin: 16px 0;
}
.formBtn input {
	padding: 4px 16px;
	font-size: 16px;
}

#productList {
	margin: 0 auto;
}
#productList .pItem {
	border: 1px solid hsl(190, 70%, 20%);
}
#productList tr th,
td {
	border: 1px solid hsl(190, 70%, 20%);
	text-align: center;
	vertical-align: middle;
	padding: 8px;
}
#productList .pItem img {
	height: 100px;
}
.editBtn,
.delBtn,
.addBtn {
	display: inline-block;
	padding: 8px;
	margin: 6px;
	border-radius: 4px;
	color: #eee;
	font-size: 16px;
	line-height: 16px;
}
.editBtn {
	color: hsl(80, 80%, 30%);
	border: 1px solid hsl(80, 80%, 30%);
}
.delBtn {
	color: hsl(0, 90%, 30%);
	border: 1px solid hsl(0, 90%, 30%);
}
.editBtn:hover {
	color: hsl(80, 80%, 40%);
	border: 1px solid hsl(80, 80%, 50%);
}
.delBtn:hover {
	color: hsl(0, 90%, 40%);
	border: 1px solid hsl(0, 90%, 50%);
}
.addBtn {
	background-color: hsl(190, 70%, 40%);
}
.addBtn:hover {
	background-color: hsl(190, 70%, 50%);
}
.prodControl {
	margin: 16px auto;
	width: 70%;
}
